name: ci

on:
  push:
    branches: [ "main" ]
  pull_request:
    types: [assigned, opened, synchronize, reopened, labeled]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

# Declare default permissions as read only.
permissions: read-all

jobs:
  build-test:
    name: Run build & test
    runs-on: ubuntu-22.04
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        egress-policy: audit

    - name: Checkout
      uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.5.4

    - name: Prepare pre-requisites
      uses: ./.github/actions/prepare

    - name: Style
      run: |
        pnpm style

    - name: Build
      run: |
        pnpm nx-build-skip-cache

    - name: Test
      run: |
        pnpm nx-test-skip-cache
