---
# This action can be used to draft the next release notes as pull requests are merged into the master.
name: Release Drafter
on:
  push:
    branches:
      - main

# Declare default permissions as read only.
permissions: read-all


jobs:
  update_release_draft:
    runs-on: ubuntu-22.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: release-drafter/release-drafter@3f0f87098bd6b5c5b9a36d49c41d998ea58f9348 # v6.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
